.bg-container{
    background-color: white;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.card{
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;;
    padding: 50px;
    border-radius: 20px;
}
.input-elemnt{
    width: 300px;
    outline: none;
    border-radius: 5px;
    border-width: 1px;
}
.hedaing{
    font-size: 30px;
    font-weight: 700;
    color: darkgreen;
    margin-bottom: 30px;
}

@media screen and (max-width: 412px) {
    .card{
        padding: 10px;
        width: 100%;
    }
    .input-elemnt{
        width: 100%;
    }
   
}
.ul-list{
    padding-left: 0px;
    display: flex;
    flex-wrap: wrap;
    text-align: center;
}

.hedaing1{
    font-weight: 500;
    font-size: 55px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: navy;
}
.ul-tab{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: auto;
    text-align: center;
}
.error-msg{
    font-weight: 700;
    font-size: 28px;
    margin: auto;
    margin-top: 50px;
}
.tabs-containe{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0px;
}